{% extends "base.html" %} {% block content%}
<form action="http://localhost:5000/stock" method="post">
  <div class="form-group">
    <label for="stock-id">股票代號</label>
    <input
      type="text"
      class="form-control"
      id="stock-id"
      name="stock-id"
      required="required"
    />
  </div>

  <div class="form-group">
    <label for="stock-num" required="required">成交股數</label>
    <input
      type="number"
      class="form-control"
      id="stock-num"
      name="stock-num"
      required="required"
    />
  </div>

  <div class="form-group">
    <label for="stock-price">成交單價</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      id="stock-price"
      name="stock-price"
      required="required"
    />
  </div>

  <div class="form-group">
    <label for="processing-fee">手續費</label>
    <input
      type="number"
      class="form-control"
      id="processing-fee"
      name="processing-fee"
    />
  </div>

  <div class="form-group">
    <label for="tax">交易稅</label>
    <input type="number" class="form-control" id="tax" name="tax" />
  </div>

  <div class="form-group">
    <label for="date">日期</label>
    <input type="date" class="form-control" id="date" name="date" />
  </div>
  <button type="submit" class="btn btn-primary">提交表單</button>
</form>

{% endblock %}
